
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

#navbar {

border: #c1730e 4px solid;
height: 40px;
justify-content: center;
display: flex;
justify-content: space-between;
align-items: center;



}

/* {} body Targets everything within the body ie text img p etc */
/* p- Targets all paragraphs */



body {
    font-family: 'source sans 3', Arial, Helvetica, sans-serif;
    text-align: center;

    font-size: larger;

background-color: #c4beb5;






    
}


p {

    
    
    color:#1b1e18;
    color:#2f332d;
    color:#c4beb5;
    color:#fffdfa;
    color:#c1730e;
    color:#2c5c0d;
    


    
    
    

}
h1 {


background-color: #c4beb5;


}

.product-wrapper {

    /* border: blue 2px solid; */
    display: flex;
    justify-content: space-between;
}
.product-img {
    width: 100%;
}


.product {
    width: 20%;
/* border: red 2px solid; */
}



